@{
    ViewBag.Title = "Login Failure";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
<footer id="footer">
    <hr />
    <p style="color:darkblue"> &copy; @DateTime.Now.Year - Flex 07</p>
</footer>>
