@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<head>
    <title>Motivation</title>
</head>
<style>
    body {
        background-image: url('http://www.careandliving.com/wp-content/uploads/2016/08/muscular-guy-six-pack-HD.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>

<h2>Index</h2>

<p>Home Equipment View!</p>
<ul class="icons">
    <li><a href="#"><img src="~/Images/Home Bench.png" width="300" height="300" /><span>Home Bench</span></a></li>
    <li><a href="#"><img src="~/Images/Home Chin Dip Stand.png" width="300" height="300" /><span>Home Chin Dip Stand</span></a></li>
    <li><a href="#"><img src="~/Images/Home Dummbells.png" width="300" height="300" /><span>Home Dummbells</span></a></li>
    <li><a href="#"><img src="~/Images/Home Hyperextension Stand.png" width="300" height="300" /><span>Home Hyperextension Stand</span></a></li>
    <li><a href="#"><img src="~/Images/Home Multi-functional Fitness Equipment.png" width="300" height="300" /><span>Home Multi-functional Fitness Equipment</span></a></li>
    <li><a href="#"><img src="~/Images/Home SigBenchRack.png" width="300" height="300" /><span>Home SigBenchRack</span></a></li>
    <li><a href="#"><img src="~/Images/Home Treadmill.png" width="300" height="300" /><span>Home Treadmill</span></a></li>
    <li><a href="#"><img src="~/Images/Home Veloargometre.png" width="300" height="300" /><span>Home Veloargometre</span></a></li>
    <li><a href="#"><img src="~/Images/Home Vertical Decline Bench Press.png" width="300" height="300" /><span>Home Vertical Decline Bench Press</span></a></li>
</ul>


