@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}
<head>
    <title>Motivation</title>
</head>
<style>
 
</style>

@*<h2>Catalog</h2>
<ul class="icons">
    <li><a href="#"><img src="~/Images/Semi-Professional Dips Machine.png" width="300" height="300" /><span>Semi-Professional Dips Mashine</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional Bench Press.png" width="300" height="300" /><span>Semi-Professinal Bench Press</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional Gladiator.png" width="300" height="300" /><span>Semi-Professional  Gladiator</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional  Squat Stand.png" width="300" height="300" /><span>Semi-Professional  Squat Stand</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional Cardio Bike.png" width="300" height="300" /><span>Semi-Professional Cardio Bike</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional Crossover.png" width="300" height="300" /><span>Semi-Professional Crossover</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional Leg Press.png" width="300" height="300" /><span>Semi-Professional Leg Press</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional Scott Bench.png" width="300" height="300" /><span>Semi-Professional Scott Bench</span></a></li>
    <li><a href="#"><img src="~/Images/Semi-Professional Smith Machine.png" width="300" height="300" /><span>Semi-Professional Smith Machine</span></a></li>
</ul>*@


