@{
    ViewBag.Title = "Home Page";
}

@model List<SoftUniBlog.Models.Post>
<h2>Index</h2>

<p>Cardio Equipment View!</p>
<ul class="icons">
    <li><a href="#"><img src="~/Images/dumbbells.png" width="300" height="300" /><span>Dumbbells</span></a></li>
    <li><a href="#"><img src="~/Images/Fitness ball.png" width="300" height="300" /><span>Fitness ball</span></a></li>
    <li><a href="#"><img src="~/Images/Rowing Machine.png" width="300" height="300" /><span>Rowing Machine</span></a></li>
    <li><a href="#"><img src="~/Images/Skipping Rope.png" width="300" height="300" /><span>Skipping Rope</span></a></li>
    <li><a href="#"><img src="~/Images/Speedbike.png" width="300" height="300" /><span>Speedbike</span></a></li>
    <li><a href="#"><img src="~/Images/Stepers.png" width="300" height="300" /><span>Stepers</span></a></li>
    <li><a href="#"><img src="~/Images/Treadmill.png" width="300" height="300" /><span>Treadmill</span></a></li>
    <li><a href="#"><img src="~/Images/Veloargometre.png" width="300" height="300" /><span>Veloargometre</span></a></li>
    <li><a href="#"><img src="~/Images/Cardio Bike.png" width="300" height="300" /><span>Cardio Bike</span></a></li>
</ul>