@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Motivation</title>
    </head>
    <body>
        <h1>Bodibuilding Motivation</h1>
        
        <iframe width="560" 
                height="315" 
                src="http://www.youtube.com/embed/Ebm4geyI0YA" 
                frameborder="0" 
                allowfullscreen></iframe>
        <iframe width="560"
                height="315"
                src="http://www.youtube.com/embed/-rCDidA31Ko"
                frameborder="0"
                allowfullscreen></iframe>
        <iframe width="560"
                height="315"
                src="http://www.youtube.com/embed/BUHftiCGEVo"
                frameborder="0"
                allowfullscreen></iframe>
        <iframe width="560"
                height="315"
                src="http://www.youtube.com/embed/AdAh18MVDx4"
                frameborder="0"
                allowfullscreen></iframe>
</body>
</html>
