@{
    ViewBag.Title = "Home Page";
}

@model List<SoftUniBlog.Models.Post>

<body class="Arni">
    <img alt="full screen background image" img src="~/Images/vfX46.jpg" id="full-screen-background-image" />

</body>

