@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="jquery.snow.js"></script>
        <script>
$(document).ready( function(){
    $.fn.snow();

});
        </script>
        <meta charset="utf-8" />
        <title>Motivation</title>
        <link rel="stylesheet" type="text/css" href="~/Content/bg.css" />

    </head>
    <body>
<video autoplay loop class="video">
    <source src="~/videos/video.mp4" type="video/mp4" />
</video>
        <div class="maintext">
        <h1><big>Wanna get fit? You're in the right place!</big></h1>
       </div>


</body>
</html>
