@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Equipment by type " + ViewBag.Type;
}
<head>
    <title>Motivation</title>
</head>
<style>
    body {
        background-image: url('http://www.careandliving.com/wp-content/uploads/2016/08/muscular-guy-six-pack-HD.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>

@using SoftUniBlog.Models
@{
    List<Equipment> equipments = ViewBag.Equipments;
}
@foreach (var equipment in equipments)
{
    <li><img src="@equipment.ImagePath" width="300" height="300" /><span>@equipment.Name</span></li>
}

@*<ul class="icons">
        <li><a href="#"><img src="~/Images/Professional Dips Machine.png" width="300" height="300" /><span>Professional Dips Machine</span></a></li>
        <li><a href="#"><img src="~/Images/Professinal Bench Press.png" width="300" height="300" /><span>Professinal Bench Press</span></a></li>
        <li><a href="#"><img src="~/Images/Professional  Gladiator.png" width="300" height="300" /><span>Professional  Gladiator</span></a></li>
        <li><a href="#"><img src="~/Images/Professional  Squat Stand.png" width="300" height="300" /><span>Professional  Squat Stand</span></a></li>
        <li><a href="#"><img src="~/Images/Professional Cardio Bike.png" width="300" height="300" /><span>Professional Cardio Bike</span></a></li>
        <li><a href="#"><img src="~/Images/Professional Crossover.png" width="300" height="300" /><span>Professional Crossover</span></a></li>
        <li><a href="#"><img src="~/Images/Professional Leg Press.png" width="300" height="300" /><span>Professional Leg Press</span></a></li>
        <li><a href="#"><img src="~/Images/Professional Scott Bench.png" width="300" height="300" /><span>Professional Scott Bench</span></a></li>
        <li><a href="#"><img src="~/Images/Professional Smith Machine.png" width="300" height="300" /><span>Professional Smith Machine</span></a></li>
    </ul>*@


