@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Professional Equipment View!</p>

@using SoftUniBlog.Models
@{
    List<EquipmentType> equipmentTypes = ViewBag.EquipmentTypes;
}
@foreach (var equipmentType in equipmentTypes)
{
    var type = equipmentType.Name;
    <li><a href="ProfessionalEquipment/ByType/@type"><img src="~/Images/EquipmentTypes/@equipmentType.ImagePath" width="300" height="300" /><span>@equipmentType.Name</span></a></li>
}

@*<ul class="icons">
    <li><a href="#"><img src="~/Images/Professional Dips Machine.png" width="300" height="300" /><span>Professional Dips Machine</span></a></li>
    <li><a href="#"><img src="~/Images/Professinal Bench Press.png" width="300" height="300" /><span>Professinal Bench Press</span></a></li>
    <li><a href="#"><img src="~/Images/Professional  Gladiator.png" width="300" height="300" /><span>Professional  Gladiator</span></a></li>
    <li><a href="#"><img src="~/Images/Professional  Squat Stand.png" width="300" height="300" /><span>Professional  Squat Stand</span></a></li>
    <li><a href="#"><img src="~/Images/Professional Cardio Bike.png" width="300" height="300" /><span>Professional Cardio Bike</span></a></li>
    <li><a href="#"><img src="~/Images/Professional Crossover.png" width="300" height="300" /><span>Professional Crossover</span></a></li>
    <li><a href="#"><img src="~/Images/Professional Leg Press.png" width="300" height="300" /><span>Professional Leg Press</span></a></li>
    <li><a href="#"><img src="~/Images/Professional Scott Bench.png" width="300" height="300" /><span>Professional Scott Bench</span></a></li>
    <li><a href="#"><img src="~/Images/Professional Smith Machine.png" width="300" height="300" /><span>Professional Smith Machine</span></a></li>
</ul>*@


